@using WebApplication2.Models
@model Kullanicilar
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ALIYORUM - Giriş</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="~/Content/assets/images/favicon.ico" type="image/c-icon">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/Content/assets/js/main/jquery.min.js"></script>
    <script src="~/Content/assets/js/main/bootstrap.bundle.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/Content/assets/js/app.js"></script>
    <!-- /theme JS files -->

</head>

<body>

    <!-- Main navbar -->
    <div class="navbar navbar-expand-lg navbar-light navbar-static">
        <div class="navbar-brand ml-2 ml-lg-0">
            <a href="index.html" class="d-inline-block">
                <img src="~/Content/assets/images/logo_light.png" alt="">
            </a>
        </div>

        <div class="d-flex justify-content-end align-items-center ml-auto">
            <ul class="navbar-nav flex-row">
                <li class="nav-item">
                    <a href="yardim.html" class="navbar-nav-link">
                        <i class="icon-lifebuoy"></i>
                        <span class="d-none d-lg-inline-block ml-2">Yardım</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="kayit.html" class="navbar-nav-link">
                        <i class="icon-user-plus"></i>
                        <span class="d-none d-lg-inline-block ml-2">Kayıt</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="giris.html" class="navbar-nav-link">
                        <i class="icon-user-lock"></i>
                        <span class="d-none d-lg-inline-block ml-2">Giriş</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Content area -->
                <div class="content d-flex justify-content-center align-items-center">

                    <!-- Login form -->

                    <form method="post" action="~/Admin/Giris">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div class="text-center mb-3">
                                    <img src="~/Content/assets/images/logo_icon_light.png" width="80">
                                    <h5 class="mb-0">Kullanıcı Girişi</h5>
                                    <span class="d-block text-muted">Bilgileriniz</span>
                                </div>

                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input type="text" class="form-control" placeholder="Kullanıcı Adı" name="email">
                                    <div class="form-control-feedback">
                                        <i class="icon-user text-muted"></i>
                                    </div>
                                </div>

                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input type="password" class="form-control" placeholder="Şifre" name="sifre">
                                    <div class="form-control-feedback">
                                        <i class="icon-lock2 text-muted"></i>
                                    </div>
                                </div>

                                <div class="form-group d-flex align-items-center">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" checked>
                                        <span class="custom-control-label">Beni Hatırla</span>
                                    </label>

                                    <a href="sifremi_unuttum.html" class="ml-auto">Şifremi Unuttum</a>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                                </div>
                                <p class="text-danger">@ViewBag.Mesaj</p>


                                <div class="form-group text-center text-muted content-divider">
                                    <span class="px-2">Hesabınız mı yok?</span>
                                </div>

                                <div class="form-group">
                                    <a href="kayit.html" class="btn btn-light btn-block">Kayıt Ol</a>
                                </div>

                                <span class="form-text text-center text-muted">Devam ederek,  <a href="#">Şartlar &amp; Koşullarımızı</a> ve <a href="#">Çerez Politikalarımızı</a> okuduğunuzu onaylıyorsunuz.</span>
                            </div>
                        </div>

                    </form>
                    <!-- /login form -->

                </div>
                <!-- /content area -->
                <!-- Footer -->
                <div class="navbar navbar-expand-lg navbar-light">
                    <div class="text-center d-lg-none w-100">
                        <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                            <i class="icon-unfold mr-2"></i>
                            Footer
                        </button>
                    </div>

                    <div class="navbar-collapse collapse" id="navbar-footer">
                        <span class="navbar-text">
                            &copy; 2022. <a href="#">Bütün Hakları Saklıdır.</a> by <a href="mailto:kayabilisimnet@gmail.com" target="_blank">Erhan Kaya</a>
                        </span>

                        <ul class="navbar-nav ml-lg-auto">
                            <li class="nav-item"><a href="" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Yardım</a></li>
                            <li class="nav-item"><a href="" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Dökümanlar</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</body>

</html>
