@using WebApplication2.Models;
@model List<Kategoriler>
@{
    ViewBag.Title = "Kategori_Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> - <a href="kategoriler.html"><span class="font-weight-semibold">Kategori Listesi</span></a> -  Kategori Ekle</h4>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>


    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content pt-0">

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Kategori Ekle</h5>
        </div>

        <div class="card-body">
            <form action="~/Admin/Kategori_Ekle" method="post" enctype="multipart/form-data">
                <fieldset class="mb-3">
                    <legend class="text-uppercase font-size-sm font-weight-bold border-bottom">Kategori Bilgilerini Eksiksiz Doldurunuz</legend>


                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Kategori Adı</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="kategoriadi">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Ana Kategoriler</label>
                        <div class="col-lg-10">
                            <select class="form-control" name="kategoriid">
                                <option value="0">-</option>
                                @foreach (var kategori in Model)
                                {
                                    <option value="@kategori.Id">@kategori.KategoriAdi</option>
                                }


                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Sıralama</label>
                        <div class="col-lg-10">
                            <input class="form-control" type="number" name="siralama">
                        </div>
                    </div>

                    <div class="form-group">
                        <p class="font-weight-semibold">Durum</p>

                        <div class="border p-3 rounded">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="sc_li_c" checked name="durum">
                                <label class="custom-control-label" for="sc_li_c">Aktif / Pasif</label>
                            </div>


                        </div>
                    </div>


                    <div class="text-right">
                        <button type="submit" class="btn btn-success">Kategori Ekle <i class="icon-plus2 ml-2"></i></button>
                    </div>
                </fieldset>



            </form>

        </div>
    </div>



</div>

