
@{
    ViewBag.Title = "Urunler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Page header -->
<div class="page-header">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> - Ürünler</h4>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>


    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content pt-0">

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Ürün Listesi</h5>
            <div class="text-right">
                <a href="urun_ekle.html" class="btn btn-success">Ürün Ekle <i class="icon-check ml-2"></i></a>
            </div>
        </div>

        <div class="card-body">
            <table class="table datatable-basic" width="100%">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Ürün Adı</th>
                        <th>Resim</th>
                        <th>Kategori</th>
                        <th>Sıralama</th>
                        <th>Durum</th>
                        <th class="text-center">İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Asus Bilgisayar</td>
                        <td><img src="~/Content/assets/images/demo/images/1.png" width="100"></td>
                        <td>Bilgisayar</td>
                        <td>1</td>
                        <td><span class="badge badge-success">Aktif</span></td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item"><i class="icon-pencil7 text-primary"></i> Ürün Düzenle</a>
                                        <a href="#" class="dropdown-item"><i class="icon-stack-plus text-warning"></i> Ürün Resim Ekle-Düzenle</a>
                                        <a href="#" class="dropdown-item"><i class="icon-checkmark text-success"></i> Durum Değiştir</a>
                                        <a href="#" class="dropdown-item"><i class="icon-cross2 text-danger"></i> Ürün Sil</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Iphone 13</td>
                        <td><img src="~/Content/assets/images/demo/images/2.png" width="100"></td>
                        <td>Telefon</td>
                        <td>2</td>
                        <td><span class="badge badge-success">Aktif</span></td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item"><i class="icon-pencil7 text-primary"></i> Ürün Düzenle</a>
                                        <a href="#" class="dropdown-item"><i class="icon-checkmark text-success"></i> Durum Değiştir</a>
                                        <a href="#" class="dropdown-item"><i class="icon-cross2 text-danger"></i> Ürün Sil</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Acer Lcd Tv</td>
                        <td><img src="~/Content/assets/images/demo/images/3.png" width="100"></td>
                        <td>Beyaz Eşya</td>
                        <td>3</td>
                        <td><span class="badge badge-danger">Pasif</span></td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item"><i class="icon-pencil7 text-primary"></i> Ürün Düzenle</a>
                                        <a href="#" class="dropdown-item"><i class="icon-checkmark text-success"></i> Durum Değiştir</a>
                                        <a href="#" class="dropdown-item"><i class="icon-cross2 text-danger"></i> Ürün Sil</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>



</div>
<!-- /content area -->
